<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TranslationApiKey" value="trnsl.1.1.20150201T225005Z.82658dce9b498982.0db57b2c6f7a90f09a2af81b6edd0b02e3b6fbfe" />
    <add key="TranslationApiBaseAddress" value="https://translate.yandex.net"/>
    <add key="MorseCodeModeActive" value="false"/>
  </appSettings>
</configuration>